In [48]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [124]:
dataset = pd.read_csv('cars.csv')

In [125]:
dataset.head()

    mpg   cylinders  cubicinches   hp  weightlbs   time-to-60   year     brand
0  14.0           8          350  165       4209           12   1972       US.
1  31.9           4           89   71       1925           14   1980   Europe.
2  17.0           8          302  140       3449           11   1971       US.
3  15.0           8          400  150       3761           10   1971       US.
4  30.5           4           98   63       2051           17   1978       US.

In [126]:
dataset.dtypes

mpg             float64
 cylinders        int64
 cubicinches     object
 hp               int64
 weightlbs       object
 time-to-60       int64
 year             int64
 brand           object
dtype: object

In [51]:
dataset.describe()

              mpg   cylinders          hp   time-to-60         year
count  261.000000  261.000000  261.000000   261.000000   261.000000
mean    23.144828    5.590038  106.360153    15.547893  1976.819923
std      7.823570    1.733310   40.499959     2.910625     3.637696
min     10.000000    3.000000   46.000000     8.000000  1971.000000
25%     16.900000    4.000000   75.000000    14.000000  1974.000000
50%     22.000000    6.000000   95.000000    16.000000  1977.000000
75%     28.800000    8.000000  138.000000    17.000000  1980.000000
max     46.600000    8.000000  230.000000    25.000000  1983.000000

In [52]:
dataset.values

array([[14.0, 8, '350', ..., 12, 1972, ' US.'],
       [31.9, 4, '89', ..., 14, 1980, ' Europe.'],
       [17.0, 8, '302', ..., 11, 1971, ' US.'],
       ...,
       [22.0, 6, '232', ..., 15, 1983, ' US.'],
       [18.0, 6, '232', ..., 16, 1972, ' US.'],
       [22.0, 6, '250', ..., 15, 1977, ' US.']], dtype=object)

In [127]:
dataset.columns

Index(['mpg', ' cylinders', ' cubicinches', ' hp', ' weightlbs', ' time-to-60',
       ' year', ' brand'],
      dtype='object')

In [128]:
X = dataset[dataset.columns[:-1]]
X = X.convert_objects(convert_numeric=True)
X.head()

C:\Users\katya\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: convert_objects is deprecated.  To re-infer data dtypes for object columns, use DataFrame.infer_objects()
For all other conversions use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.

    mpg   cylinders   cubicinches   hp   weightlbs   time-to-60   year
0  14.0           8         350.0  165      4209.0           12   1972
1  31.9           4          89.0   71      1925.0           14   1980
2  17.0           8         302.0  140      3449.0           11   1971
3  15.0           8         400.0  150      3761.0           10   1971
4  30.5           4          98.0   63      2051.0           17   1978

In [129]:
X.dtypes

mpg             float64
 cylinders        int64
 cubicinches    float64
 hp               int64
 weightlbs      float64
 time-to-60       int64
 year             int64
dtype: object

In [120]:
a=X.loc[:5, "mpg"]

In [121]:
b=round(a, 0)
print(b)

0    14.0
1    32.0
2    17.0
3    15.0
4    30.0
5    23.0
Name: mpg, dtype: float64

In [122]:
c=int(b)
print(c)

TypeError: cannot convert the series to <class 'int'>

In [131]:
for i in X.columns:
    X[i].fillna(int(X[i].mean()))

In [132]:
 # fill in missing data with the average
for i in X.columns:
    print(X[i].isnull().sum())

0
0
2
0
3
0
0

In [133]:
X.replace(-np.inf,np.nan)

      mpg   cylinders   cubicinches   hp   weightlbs   time-to-60   year
0    14.0           8         350.0  165      4209.0           12   1972
1    31.9           4          89.0   71      1925.0           14   1980
2    17.0           8         302.0  140      3449.0           11   1971
3    15.0           8         400.0  150      3761.0           10   1971
4    30.5           4          98.0   63      2051.0           17   1978
5    23.0           8         350.0  125      3900.0           17   1980
6    13.0           8         351.0  158      4363.0           13   1974
7    14.0           8         440.0  215      4312.0            9   1971
8    25.4           5         183.0   77      3530.0           20   1980
9    37.7           4          89.0   62      2050.0           17   1982
10   34.0           4         108.0   70      2245.0           17   1983
11   34.3           4          97.0   78      2188.0           16   1981
12   16.0           8         302.0  140      4141.0           14   1975
13   11.0           8         350.0  180      3664.0           11   1974
14   19.1           6         225.0   90         NaN           19   1981
15   16.9           8         350.0  155      4360.0           15   1980
16   31.8           4          85.0   65      2020.0           19   1980
17   16.0           8         304.0  150      3433.0           12   1971
18   24.0           4         113.0   95      2278.0           16   1973
19   24.0           4         107.0   90      2430.0           15   1971
20   37.2           4          86.0   65      2019.0           16   1981
21   21.5           4         121.0  110      2600.0           13   1978
22   24.0           6         200.0   81      3012.0           18   1977
23   15.5           8         351.0  142      4054.0           14   1980
24   38.1           4          89.0   60      1968.0           19   1981
25   33.0           4          91.0   53      1795.0           17   1977
26   31.0           4          71.0   65      1773.0           19   1972
27   14.0           8         351.0  148      4657.0           14   1976
28   18.0           6         250.0   78      3574.0           21   1977
29   29.9           4          98.0   65      2380.0           21   1982
..    ...         ...           ...  ...         ...          ...    ...
231  28.0           4         120.0   79      2625.0           19   1983
232  23.0           4         140.0   78      2592.0           19   1976
233  16.0           8         318.0  150      4498.0           15   1976
234  20.0           4         130.0  102      3150.0           16   1977
235  44.0           4          97.0   52      2130.0           25   1983
236  14.0           8         318.0  150      4096.0           13   1972
237  20.2           6         200.0   85      2965.0           16   1979
238  39.0           4          86.0   64      1875.0           16   1982
239  23.0           4         122.0   86      2220.0           14   1972
240  13.0           8         350.0  145      4055.0           12   1977
241  18.0           6         225.0  105      3121.0           17   1974
242  16.0           8         400.0  180      4220.0           11   1978
243  25.0           4         110.0   87      2672.0           18   1971
244  14.0           8         454.0  220      4354.0            9   1971
245  15.0           8         318.0  150      3399.0           11   1974
246  19.4           8         318.0  140      3735.0           13   1979
247  44.3           4          90.0   48      2085.0           22   1981
248  28.0           4          97.0   75      2155.0           16   1977
249  29.0           4         135.0   84      2525.0           16   1983
250  32.1           4          98.0   70      2120.0           16   1981
251  24.0           4         121.0  110      2660.0           14   1974
252  36.4           5         121.0   67      2950.0           20   1981
253  13.0           8         350.0  145      3988.0           13   1974
254  23.5           6         173.0  110      2725.0           13   1982
255  24.0           4         113.0   95      2372.0           15   1971
256  17.0           8         305.0  130      3840.0           15   1980
257  36.1           4          91.0   60      1800.0           16   1979
258  22.0           6         232.0  112      2835.0           15   1983
259  18.0           6         232.0  100      3288.0           16   1972
260  22.0           6         250.0  105      3353.0           15   1977

[261 rows x 7 columns]

In [69]:
X.dropna(inplace=True)

In [70]:
for i in X.columns:
    print(X[i].isnull().sum())

0
0
0
0
0
0
0

In [94]:
X.replace(-np.inf,np.nan)
for i in X.columns:
    print(X[i].isnull().sum())

0
0
2
0
3
0
0

In [95]:
X.dropna(inplace=True)
for i in X.columns:
    print(X[i].isnull().sum())

0
0
0
0
0
0
0

In [72]:
def round_int(x):
    if x == float("inf") or x == float("-inf"):
        return float('nan') # or x or return whatever makes sense
    return int(round(x))

In [130]:
from sklearn.cluster import KMeans

wcss=[]

for i in range (0,11):
    kmeans=KMeans(n_clusters=i, init='k-means++', max_iter=300, n_init=10, random_state=0)
    kmeans.fit(X)
    wcss.append(kmeans.inertia_)

plt.plot(range(0,11), wcss)
plt.title('The Elbow Method')
plt.xlabel('Number of clusters')
plt.ylabel ('WCSS')
plt.show()

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [46]:
X = dataset.iloc[:,:-1].values # all rows and all columns except one
X

array([[14.0, 8, '350', ..., '4209', 12, 1972],
       [31.9, 4, '89', ..., '1925', 14, 1980],
       [17.0, 8, '302', ..., '3449', 11, 1971],
       ...,
       [22.0, 6, '232', ..., '2835', 15, 1983],
       [18.0, 6, '232', ..., '3288', 16, 1972],
       [22.0, 6, '250', ..., '3353', 15, 1977]], dtype=object)

In [21]:
X = pd.DataFrame(X)
X.dtypes

0    object
1    object
2    object
3    object
4    object
5    object
6    object
dtype: object

In [47]:
X=pd.DataFrame(X)
pd.to_numeric(X, errors='raise', downcast=None)
X.dtypes

TypeError: arg must be a list, tuple, 1-d array, or Series

In [39]:
X = pd.to_numeric
X.columns = ['mpg', ' cylinders', ' cubicinches', ' hp', ' weightlbs', ' time-to-60', 'year']
X.dtypes

ValueError: Buffer has wrong number of dimensions (expected 1, got 0)

In [27]:
X.columns

Index(['mpg', ' cylinders', ' cubicinches', ' hp', ' weightlbs', ' time-to-60',
       'year'],
      dtype='object')

In [34]:
# Using the elbow method to find  the optimal number of clusters
from sklearn.cluster import KMeans
wcss = []
for i in range(1,11):
    kmeans = KMeans(n_clusters=i,init='k-means++',max_iter=300,n_init=10,random_state=0)
    kmeans.fit(X)
    wcss.append(kmeans.inertia_)
plt.plot(range(1,11),wcss)
plt.title('The Elbow Method')
plt.xlabel('Number of clusters')
plt.ylabel('WCSS')
plt.show()

ValueError: could not convert string to float:

In [ ]:
# Applying k-means to the cars dataset
kmeans = KMeans(n_clusters=3,init='k-means++',max_iter=300,n_init=10,random_state=0) 
y_kmeans = kmeans.fit_predict(X)

In [ ]:
X = X.as_matrix(columns=None)

In [ ]:
# Visualising the clusters
plt.scatter(X[y_kmeans == 0, 0], X[y_kmeans == 0,1],s=100,c='red',label='US')
plt.scatter(X[y_kmeans == 1, 0], X[y_kmeans == 1,1],s=100,c='blue',label='Japan')
plt.scatter(X[y_kmeans == 2, 0], X[y_kmeans == 2,1],s=100,c='green',label='Europe')
plt.scatter(kmeans.cluster_centers_[:,0],kmeans.cluster_centers_[:,1],s=300,c='yellow',label='Centroids')
plt.title('Clusters of car brands')
plt.legend()
plt.show()